@{
    ViewData["Title"] = "Kontakty";
}

<section class="page-header page-header__contact"
         style="background-image: url(../assets/images/backgrounds/page-header-bg-1.jpg); background-position: center;">
</section><!-- /.page-header -->

<section class="contact-one__map">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10938.692090070079!2d21.82052976850237!3d49.34947566655649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473c18d06aa743e9%3A0x9412101c901af5d0!2zMDY3IDUyIMSMZXJ0acW-bsOp!5e0!3m2!1ssk!2ssk!4v1641728415917!5m2!1ssk!2ssk"
                class="google-map__home" allowfullscreen></iframe>
    </div><!-- /.container -->
</section><!-- /.contact-one__map -->

<section class="contact-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-one__info">
                    <div class="block-title">
                        <p><span>Kontakty</span></p>
                        <h3>Potrebujete pomoc? Kontaktujte nás</h3>
                        <!-- /.block-title__text -->
                    </div><!-- /.block-title -->
                    <div class="contact-one__info-content">
                        <!-- /.contact-one__info-tagline -->
                        <h3><a href="tel:+421917745172">+421 917 745 172</a></h3>
                        <ul class="contact-one__info-list list-unstyled">
                            <li>
                                <i class="wastey-icon-2"></i>
                                <span>Adresa</span>
                                Obecný úrad Čertižné, Čertižné 57, 067 52 Čertižné
                            </li>
                            <li>
                                <i class="wastey-icon-4"></i>
                                <span>Telefón na úrad</span>
                                <a href="tel:0577392197">057/73 92 197</a>
                            </li>
                            <li>
                                <i class="wastey-icon-3"></i>
                                <span>Úradné hodiny:</span>
                                Pon - Pia: 07:00 - 15:00<b> (Štvrtok - nestránkový deň)</b>
                            </li>
                        </ul><!-- /.contact-one__info-list -->
                    </div><!-- /.contact-one__info-content -->
                </div><!-- /.contact-one__info -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-one -->
